<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="form-wrapper">
    <div class="form-container">
        <h1>Create Account</h1>

        <% if(error.length > 0) { %>
            <div class="message error"><%= error %></div>
        <% } %>

        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Minimum 6 Characters" required>
            <button type="submit">Register</button>
        </form>

        <p style="margin-top:15px;text-align:center;">
            Already have an account?
            <a href="/login">Login</a>
        </p>
    </div>
</div>
</body>
</html>