*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main{
    width: 100%;
    height: 100%;
}

#header{
    width: 100%;
    height: 11%;
    display: flex;
    background-color: #000;
    align-items: center;

}

#logo{
   height: 30%;
   margin-left: 40px;
   
}

#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text{
    color: darkgray;
    font-weight: 500;
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: smaller;
}

.text:hover{
    color: white;
    transition: 0.4s;
}

#txticon{
    gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 90px;
  width: 150px;
  height: 45px;
  border: 2px solid darkgray;
  border-radius: 30px;
  padding: 0 15px;
  background: black;
}

/* Selecting 2 classes together */
.search-bar .icon {
  font-size: 18px;
  color: darkgray;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  color: darkgray;
  font-size: 16px;
  width: 100%;
}

.search-bar input::placeholder {
  color: gray;
  
}

.search-bar:hover{
    cursor: pointer;
}

#hearticon{
    color: darkgray;
    font-size: 25px;
    margin-left: 20px;
}

.hero {
  width: 100%;
  height: 89%;
  background-image: url("https://sony.scene7.com/is/image/sonyglobalsolutions/WF-1000XM6_HP_Banner_PrimaryTout_D?$toutDesktop$&fmt=png-alpha");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  padding-left: 80px;
  color: white;
}

.hero-content {
  max-width: 500px;
}

.model {
  font-size: 18px;
  opacity: 0.8;
}

.hero h1 {
  margin: 10px 0;
}

.desc {
  font-size: 22px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #1e6bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}



